html {
    height: 100%;
}

body {
    font-family: "Montserrat", "Arial", sans-serif;
    background-color: #3e2547;
    color: #fff;
}


#app {
    margin: 0;
    height: 100%;
    box-sizing: border-box;
}

[class^="view-"] {
}

.view-title {
    height: 100%;
    display: flex;
    flex-direction: column;
    gap: 24px;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
}

#title-owl {
    height: 350px;
    width: 350px;
    background-color: #3c6b51;
    border-radius: 350px;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
}

#title-owl img {
    width: 100%;
    margin-top: 20%;
}

h1 {
    margin-top: 16px;
    margin-bottom: 36px;
    font-size: 3em;
    text-shadow: 2px 8px 2px rgba(0, 0, 0, 0.45);
}

h2 {
    font-size: 1.8em;
}

#read-section {
    background-color: rgba(0,0,0,0.3);
    padding: 24px; 
    width: 33%;
    box-sizing: border-box;
}

#quiz-section {
    padding: 24px;
    width: 67%;
    box-sizing: border-box;
}

#quiz-section h2 {
    font-size: 1.4em;
}

#quiz-section p {
    font-size: 1.2em;
}

.view-quiz {
    display: flex;
    flex-direction: row;
    height: 100%;
}

#progress-bar {
    width: 100%;
    height: 1em;
    background-color: rgba(255, 255, 255, 0.1);
    position: relative;
    border-radius: 1em;
}

#progress-bar:after {
    content: "";
    position: absolute;
    background-color: #b4db7c;
    height: 100%;
    width: 1em;
    border-radius: 1em;
    transition: width 0.2s;
}

#progress-bar[progress="2"]:after {
    width: 17%;
}

#progress-bar[progress="3"]:after {
    width: 33%;
}

#progress-bar[progress="4"]:after {
    width: 50%;
}

#progress-bar[progress="5"]:after {
    width: 66%;
}

#progress-bar[progress="6"]:after {
    width: 82%;
}


#read-eyebrow {
    font-size: 1.2em;
    text-transform: uppercase;
    letter-spacing: 0.05em;
    color: #b4db7c;
    font-weight: 600;
}

#read-section li {
    margin-bottom: 1em;
    font-size: 1.2em;
}

button {
    font-family: "Montserrat", "Arial", sans-serif;
    font-size: 1.2em;
    border: none;
    outline: none;
    background-color: #4F7A64;
    padding: 0.6em 1.2em;
    border-radius: 100px;
    color: #FFF;
    font-weight: 600;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.45);
    transition: all 0.2s;
}

.view-title button {
    min-width: 400px;
}

button:hover {
    background-color: #295840;
}


.book .book-decoration {
    position: absolute;
    top: 0;
    left: 0;
}

.book-container {
    list-style: none;
    display: flex;
    flex-direction: row;
    gap: 12px;
    justify-content: center;
    align-items: end;
    /*background-color: #5c4e3f;*/
    padding: 16px;
    position: relative;
}

.book-container::after {
    content: "";
    position: absolute;
    height: 10%;
    width: 100%;
    bottom: 0;
    left: 0;
    /*background-color: #715842;*/
    z-index: 1;
}

.book {
    background-color: #7aa97d;
    color: #000;
    height: 350px;
    width: 75px;
    padding: 0.5em;
    box-sizing: border-box;
    display: flex;
    position: relative;
    border-radius: 4px;
    justify-content: center;
    align-items: end;
    z-index: 2;
}

.book.book-color-red {
    background-color: #DA4646;
}

.book.book-color-orange {
    background-color: #DA7042;
}

.book.book-color-brown {
    background-color: #A26650;
}

.book.book-color-yellow {
    background-color: #F6AF67;
}

.book.book-color-light-green {
    background-color: #809F55;
}

.book.book-color-dark-green {
    background-color: #3E875F;
}

.book.book-color-light-blue {
    background-color: #578EA2;
}

.book.book-color-dark-blue {
    background-color: #644C96;
}

.book.book-color-purple {
    background-color: #A95DC2;
}

.book.book-color-maroon {
    background-color: #BD595B;
}

.book.book-size-1 {
    height: 405px;
    width: 106px;
}

.book.book-size-2 {
    height: 505px;
    width: 78px;
}

.book.book-size-3 {
    height: 545px;
    width: 98px;
}

.book.book-size-4 {
    height: 405px;
    width: 142px;
}

.book.book-size-5 {
    height: 471px;
    width: 107px;
}

.book.book-size-6 {
    height: 505px;
    width: 123px;
}

.book.book-size-7 {
    height: 441px;
    width: 98px;
}

.book p {
    background-color: #fff;
    font-family: 'Arial', sans-serif;
    padding: 0.5em;
    font-weight: 600;
    width: 100%;
    height: 75px;
    z-index: 2;
    border-radius: 4px;
}